.painel{
    background-image: url('../images/wall.png');
    border: solid 1px red;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.square{
    border: solid 1px black;
    height: 150px;
    width: 150px;
    background-color: lightgreen;
}
.menu {
    padding-top: 0.25%;
    height: 100px;
    justify-content: space-evenly;
    display: flex;
    background-color: black;
    color: white;
    border-bottom: solid 2px gold;
}
.menu-lives{
    display: flex;
    align-items: center;
}
.enemy{
    background-image: url("../images/ralph.png");
    background-size: cover;
}